<script src="https://login.persona.org/include.js"></script>
<!-- Since logging out is a thing we can do anywhere, we have to put the log-out handler
	 here. -->
<script>

  // These things could / should probably have IDs or classes, but I'll just
  // query for the link hrefs for now.
  var logOutHref = "{% url logout %}";
  var logInHref = "{% url login %}";
  var signOutLink = $('a[href="' + logOutHref + '"]');
  var signInLink = $('a[href^="' + logInHref + '"]');

  if (signOutLink) {
    $(signOutLink).click(function(aEvent) {
      console.log("Logging out with Persona");
      aEvent.preventDefault();
      navigator.id.logout();
    });
  }

  if (signInLink) {
  	$(signInLink).click(function(aEvent) {
  	  console.log("Logging in with Persona");
  	  aEvent.preventDefault();
  	  navigator.id.request();
  	});
  }

  navigator.id.watch({
    loggedInUser: "{{user.email}}" || null,
    onlogin: function(assertion) {
      // A user has logged in! Here you need to:
      // 1. Send the assertion to your backend for verification and to create a session.
      // 2. Update your UI.
      $.ajax({ /* <-- This example uses jQuery, but you can use whatever you'd like */
        type: 'POST',
        url: '/api/extensions/reviewboard_persona.extension.RBPersona/persona-logins/', // This is a URL on your website.
        data: {assertion: assertion},
        success: function(res, status, xhr) {
          function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
            return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
          }

          var nextPage = getParameterByName("next_page")
          if (nextPage) {
            window.location.href = nextPage;
          } else {
            window.location.reload();
          }
        },
        error: function(xhr, status, err) {
          navigator.id.logout();
          console.error("Login failure: " + err);
        }
      });
    },
    onlogout: function() {

      // A user has logged out! Here you need to:
      // Tear down the user's session by redirecting the user or making a call to your backend.
      // Also, make sure loggedInUser will get set to null on the next page load.
      // (That's a literal JavaScript null. Not false, 0, or undefined. null.)
      $.ajax({
        type: 'GET',
        url: '/account/logout/', // This is a URL on your website.
        success: function(res, status, xhr) {
          window.location.reload();
        },
        error: function(xhr, status, err) {
          console.error("Logout failure: " + err);
        }
      });
    }
  });
</script>
